<%- include("layouts/top_auth") %>

<meta http-equiv="refresh" content="900">
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header page-header-title">Dashboard</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <span style="font-size:18px">Welcome to <%= SITE_TITLE %></span>
        <br/><br/>
  
        <div class="panel panel-info">
            <div class="panel-heading">
                Checklist Stats
            </div>
            <div class="panel-body">
                <ul>
                    <li>My Total Checklists: <%= my_total_checklists_count %> </li>
                    <li>Total Checklists Shared with Me: <%= my_shared_checklists_count %> </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.col-lg-12 -->
    
</div>
<!-- /.row -->

<%- include("layouts/bottom_auth") %>